<nav class="navbar navbar-default">
  <div class="container"> <!--fix-->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <!-- data-target change later-->
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Artcade</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> <!--change later-->
      <ul class="nav navbar-nav">
        <li class=""><a href="<%= pages_home_path %>"><i class="fa fa-home" aria-hidde n="true"></i>Home <span class="sr-only">(current)</span></a></li>
        <li><a href="<%= pages_about_path %>"><i class="fa fa-info-circle" aria-hidden="true"></i>Nosotros</a></li>
        <li><a href="<%= pages_contact_path %>"><i class="fa fa-envelope-o fa-fw"></i>Contacto</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li><%= link_to 'Mis Arcades', my_arcades_arcades_path %></li>
        <li><a href="#"><i class="fa fa-user fa-fw"></i><%= current_user.email %></a></li>
        <% end %>
         <% if user_signed_in? %>
          <li><a href="<%= destroy_user_session_path %>" data-method="delete"><i class="fa fa-lock" aria-hidden="true"></i>Cerrar sesión</a></li>
        <% else %>
         <li><a href="<%= new_user_registration_path %>">Registrarse</a></li>
          <li><a href="<%= new_user_session_path %>">Iniciar sesión</a></li>
        <% end %>
          </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


