
<div class="container-fluid main-box">
	<div class="row">
		<div class="col-md-offset-3 col-md-6 col-md-offset-3 info-main">
			<h1>Artcade | Diseña tu Arcade</h1>
			<p>
				Bienvenidos a nuestra apliación de creación de Arcades, donde puedes comenzar a crear tu Arcade.
			</p>
			
		</div>
	</div>
	
</div>

<div class="container vh100"> 
	<h2>Pasos para crear tu Artcade</h2>
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<div class="paso-index">
						<p class="">1</p>
					</div>
					
					<div class="caption">
						<h4>Debes registrarte o inciar sesión en nuestra aplicación</h4>
					</div>
				</div>
			</div>


			<div class="col-md-4">
				<div class="thumbnail">
					<div class="paso-index">
						<p class="">2</p>
					</div>
					<div class="caption">
						<h4>Comienza a crear tu Arcade clickeando en el botón "Crear Arcade".</h4>
					</div>
				</div>
			</div>


			<div class="col-md-4">
				<div class="thumbnail">
					<div class="paso-index">
						<p class="">3</p>
					</div>
					<div class="caption">
						<h4>Selecciona los componentes a elección y luego confirmas</h4>
					</div>
				</div>
			</div>
		</div>

	<div class="boton">
		<div class="container">
			<% if user_signed_in? %>
			<h5 class="user"> Bienvenido <%= current_user.email %></h5>
			<% end %>
	


			<%= link_to "Crea tu Arcade", new_arcade_path, class:"btn btn-primary" %>
		</div>
	</div>
	<hr>
	<!-- List of arcades -->
	<div class="panel panel-default">
		<div class="panel-heading">		
			<h1 class="titulo">Arcades hechos por otros usuarios</h1>
		</div>
		<div class="panel-body">
			<div class="row">
				<% @arcades.each do |arcade| %>
				<div class="col-md-3">
					<img src="<%= arcade.design.image %>" alt="Arcade">
					<p><%= arcade.name %></p>
					<p><%= arcade.price %></p>
					<%= link_to 'Ver detalle', arcade, class: 'btn btn-success' %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>