
<div class="container-fluid main-box">
	<div class="row">
		<div class="col-md-offset-3 col-md-6 col-md-offset-3 info-main">
			<h1>Artcade | Diseña tu Arcade</h1>
			<h3>
				Bienvenid@s a tu aplicación para fabricar tus propios Arcades!
			</h3>
			
		</div>
	</div>
	
</div>

<div class="container vh100"> 
	<h2>Pasos para crear tu Artcade</h2>
		<div class="row">
			<div class="col-md-3">
				<div class="thumbnail">
					<div class="paso-index">
						<i class="fa fa-user-plus fa-2x steps" aria-hidden="true"></i>
					</div>
					<div class="caption">
						<h4 class="content">Debes registrarte o inciar sesión en nuestra aplicación</h4>
					</div>
				</div>
			</div>
		
			<div class="col-md-3">
				<div class="thumbnail">
					<div class="paso-index">
						<i class="fa fa-wrench fa-2x steps" aria-hidden="true"></i>
					</div>
					<div class="caption">
						<h4 class="content">Comienza a crear tu Arcade clickeando en el botón "Crea tu Arcade".</h4>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="thumbnail">
					<div class="paso-index">
						<i class="fa fa-plus fa-2x add" aria-hidden="true"></i>
						
					</div>
					<div class="caption">
						<h4 class="content">Agrega los componentes a elección y luego confirmas la compra</h4>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail">
					<div class="paso-index">
						<i class="fa fa-truck fa-2x steps" aria-hidden="true"></i>
						
					</div>
					<div class="caption">
						<h4 class="content">una vez cancelado, el Arcade será despachado a domicilio en 15 días hábiles</h4>
					</div>
				</div>
			</div>
		</div>


		

	<div class="boton">
		<div class="container">
			<% if user_signed_in? %>
			<h5 class="user"> Bienvenido <%= current_user.email %></h5>
			<% end %>
	
			<%= link_to "Crea tu Arcade", new_arcade_path, class:"btn btn-primary" %>
		</div>
	</div>
	<hr>
	<!-- List of arcades -->
	<div class="panel panel-default">
		<div class="panel-heading">		
			<h1 class="titulo">Arcades hechos por otros usuarios</h1>
		</div>
		<div class="panel-body">
			<div class="row">
				<% @arcades.each do |arcade| %>
				<div class="col-md-3">
					<img src="<%= arcade.design.image %>" alt="Arcade">
					<p><%= arcade.name %></p>
					<p><%= arcade.price %></p>
					<%= link_to 'Ver detalle', arcade, class: 'btn btn-success' %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>