<%= form_for(arcade) do |f| %>
  <% if arcade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arcade.errors.count, "error") %> prohibited this arcade from being saved:</h2>

      <ul>
      <% arcade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="form-box col-md-3">
  <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', required: true %>
  </div>
  
  <%= f.select :design_id, options_from_collection_for_select(@designs, :id, :name_price), class: 'form-control' %>
  <%= f.file_field :photo, class: 'form-control' %>
  <%= f.hidden_field :photo_cache %>
  <div class="actions sign-b">
      <%= f.submit %>
      <% end %>
  </div>
</div>

