<p id="notice"><%= notice %></p>

<div class="panel panel-default">
	<div class="panel-heading">
		
		<h1 class="titulo"><%= @arcade.name <%><small> <%= @arcade.design.name %></small></%></h1>
		<hr>
		<h3>Detalle</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Descripción</th>
					<th>Precio</th>
					<th>Imagen</th>
				</tr>
			</thead>
			<tbody>
				<% @arcade.components.each do |component| %>
				<tr>					
					<td><%= component.name %></td>
					<td><%= component.price %></td>
					<td><%= component.image %></td>
				</tr>
				<% end %>
				<tr>
					<td><%= @arcade.design.name %></td>
					<td><%= @arcade.design.price %></td>
					<td><%= @arcade.design.image %></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3"> Total: <%= @arcade.components.sum(:price) %></td>				
				</tr>
			</tfoot>
		</table>
		<%= link_to "Ir a mi carrito", order_confirmations_arcade_path, class:"btn btn-success", method: :post %>
	</div>
</div>








<!--
<%= link_to 'Edit', edit_arcade_path(@arcade) %>
<%= link_to 'Back', arcades_path %>


<p>
  <strong>Name:</strong>
  <%= @arcade.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @arcade.price %>
</p>

<p>
  <strong>Order:</strong>
  <%= @arcade.order %>
</p>

-->