<p id="notice"><%= notice %></p>

<div class="panel panel-default">
	<div class="panel-heading">
		
		<h1 class="titulo"><%= @arcade.name %></h1>
		<h1 class="titulo"><%= @arcade.design.name %></h1>
		<th>Design Price</th>
		<th>Component</th>
		<th>Component Price</th>
		<th>Image</th>
		<table class="table">
			<% @arcade.components.each do |component| %>
			<tr>
				
				<td><%= @arcade.design.price %></td>
				<td><%= component.name %></td>
				<td><%= component.price %></td>
				<td><%= component.image %></td>
			</tr>
			<% end %>
			<tr>
		<td> Total: </td>
		<td> <%= @arcade.components.map{|component| component.price}.sum %> </td>
	</tr>	
		</table>
<%= link_to "Comprar", order_confirmations_arcade_path, class:"btn btn-success", method: :post %>
	</div>
</div>








<!--
<%= link_to 'Edit', edit_arcade_path(@arcade) %>
<%= link_to 'Back', arcades_path %>


<p>
  <strong>Name:</strong>
  <%= @arcade.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @arcade.price %>
</p>

<p>
  <strong>Order:</strong>
  <%= @arcade.order %>
</p>

-->